# MongoDB connection string
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/saaga-institute?retryWrites=true&w=majority

# Owner default credentials (used by seed script)
OWNER_EMAIL=sanchitha@saaga-institute.com
OWNER_PASSWORD=Admin@123
